.radio-input-container {
    flex-direction: row !important;
}


.message-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .selected-customer-list {
        width: 100%;
        display: flex;
    }

    .customer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #48a89c;
        color: white;
        border-radius: 26px;
        padding: 4px 20px;
        margin: 10px;
    }
}