.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;


}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
